.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contentWindow
{
	margin-top: 50px;
}

h1
{
	text-align:center;
}

#navbar 
{
	font-family:courier,arial,helvetica;
	padding-bottom: 0px;
	padding-top:0px;
	text-align:left;
}

#navbar img 
{
	width:35px;
}

#starterButtons
{
	outline-style:solid;
	outline-color:#375a7f;
	padding:10px;
	text-align: center;
}

#centerSignInButton
{
	text-align:center;
	display: flex;
	margin-top:50px;
	justify-content: center;
}

#centerSignInButton button
{
	background-color: #0061fe;
	border-color: #0061fe;
}