#navbar 
{
	font-family:courier,arial,helvetica;
	padding-bottom: 0px;
	padding-top:0px;
	color: white;
}

#navbar a
{
	
}

#navbar img 
{
	width:35px;
}

#starterButtons
{
	outline-style:solid;
	outline-color:#375a7f;
	padding:10px;
	text-align: center;
}

#centerSignInButton
{
	text-align:center;
	padding-top: 50px;
}
