
#header .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #375a7f ;  
  border: 1px solid black;  
}

#header .grid-item {  
  font-size: 20px;
  text-align: center;    
  border-left: 1px solid black;	
  border-right: 1px solid black;	  
}

.column {
  float: left;
  width: 50%;
  font-size: 28px;
  text-align: center;
  border: 1px solid black;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0 10px;  
}

.row button
{	
	width:70%;
	border: 1px solid black;
}


table 
{
	width: 100%;
}

tbody {
  display: flex;
  width:100%;
  position: relative;
  align-items: stretch;
  border: 1px solid black;  
}

tr 
{
  flex-basis: 33.33333333%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px 10px;  
}

tr + tr 
{
	border-left: 1px solid black;
}

td button
{
  display:block;
  width:100%;
}

th, td 
{
  flex-basis: 100%;
  text-align: center;
  display: flex;
  padding: 2px;  
}

th 
{
  font-weight: bold;
}

.grid-item-empty-cells
{
	background-color:black;
}

.contentWindow 
{
	margin-top: 50px;	
	background-color:black;	
}

.contentWindow  ul 
{
	list-style-type:none;
	margin: 5px;
	
	display:flex;
	flex-direction: row;
	align-items:center;
}

.contentWindow ul li
{
	text-align:center;	
	border: 3px solid black;		
	width:400px;
	display:inline-block;
}

#header
{
	
}

#foldersBody button
{
	width:100%;		
	border-radius: 0 !important;
}

.disabled 
{
	display:none;
}

#rightSet
{
	background-color:black;
}

#leftSet
{
	background-color:black;
}

#centerSet
{
	background-color:black;
}

/* The Modal (background) */
.modal{
	display:block !important;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal div
{
	background-color:black;	
}

.modal span
{
	font-size:20px;
}

.modal-content div
{
	margin-top:10px;
}

.modal-content button 
{
	background-color:#0061fe;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
  width: 25%; /* Could be more or less, depending on screen size */
}